<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    <!-- <header>
        
    </header> -->

    <div class="p-name">
        <div class="event-img">

        </div>

        <div class="event-name">
            <h2><%- event.eventName %></h2>
            
        </div>

        
        
    </div>

    <div class="description">
        <p><%- event.description %></p>
    </div>
    
    

    <%- include('./partials/footer.ejs') %>

</body>
</html>